.container{
    display:flex;
    flex-wrap: wrap; 
}
.section{
    flex: 20%;
    padding: 0 3px;
}
img{
    width: 100%;
    margin: 1px;
}



@media(max-width:997px){
    .section{
        flex: calc(100%/4);
    }
}
@media(max-width:767px){
    .section{
        flex: calc(100%/3);
    }
}
@media(max-width:576px){
    .section{
        flex:100%;
    }
}